@font-face {
    font-family: Kaisei-Decol;
    src: url(fonts/Kaisei_Decol/KaiseiDecol-Regular.ttf);
}

@font-face {
    font-family: NanumMyeongjo-Bold;
    src: url(fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf);
}

@font-face {
    font-family: NanumMyeongjo-Regular;
    src: url(fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf);
}

@font-face {
    font-family: NanumMyeongjo-ExtraBold;
    src: url(fonts/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf);
}

@font-face {
    font-family: Mori;
    src: url(fonts/PPMori/PPMori-Variable.ttf);
}

body {
    overflow: hidden;
    color: #000;
    background-color: #FFF;
    font-family: Mori;

}

main {
    max-width: 80vw;
}

main h2 {
    margin-top: 20vh;
    margin-left: 20vw;
    font-size: 2rem;
    font-weight: normal;
}

main a {
    color: #777;
    font-size: 1.25rem;
    cursor: crosshair;
}

main p {
    margin-left: 20vw;
    color: #a4a4a4;
    font-size: 1rem;

}

#back {
    max-width: 10vh;
    position: fixed;
    margin: 1.5rem;
    bottom: 0;
    right: 0;
}


@media (max-width: 700px) {
    body {
        overflow: auto;
        margin: 0;
    }

    main {
        margin-bottom: 0rem;
    }

    footer {
        color: none;
        display: flex;
        justify-content: flex-end;
        background-color: #fff; 
    }
    
    #back {
        position: relative;
    }

    main h2,
    main a,
    main p {
        margin-left: 10vw;
    }
}




@media (max-width: 300px) {
    main h2 {
        font-size: 9vw;
    }

    main a {
        font-size: 6vw;
    }

    main p {
        font-size: 4vw;
    }

    #back {
        max-width: 14vw;
    }
}