@font-face {
    font-family: Kaisei-Decol;
    src: url(fonts/Kaisei_Decol/KaiseiDecol-Regular.ttf);
}

@font-face {
    font-family: NanumMyeongjo-Bold;
    src: url(fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf);
}

@font-face {
    font-family: NanumMyeongjo-Regular;
    src: url(fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf);
}

@font-face {
    font-family: NanumMyeongjo-ExtraBold;
    src: url(fonts/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf);
}

@font-face {
    font-family: Mori;
    src: url(fonts/PPMori/PPMori-Variable.ttf);
}

#picture {
    position: absolute;
    bottom: 0;
    max-width: 30vmin;
    color: black;
}

hr {
    color: black
}

body {
    overflow: hidden;
    font-family: NanumMyeongjo-Regular;
    color: #000;
    background-color: #FFF;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    height: 100vh;
    user-select: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 67vw;
}

main p:hover {
    -webkit-text-stroke: 1px #1E1E1E;
    -webkit-text-fill-color: transparent;
}

main h1 {
    display: flex;
    align-items: center;
    margin: 0 0 0 5rem;
    left: 62vmax;

    font-family: NanumMyeongjo-Bold;
    font-size: 11vmax;
    font-weight: 700px;
    line-height: 11.75rem;
}

main p {
    font-family: Mori;
    margin: 0px;
    line-height: 1.25rem;
    align-self: flex-end;
    transition: all 0.1s ease-out;
}

nav {
    font-family: Mori;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    line-height: 6rem;
    font-size: 2rem;
    margin-right: 6vmax;
}

nav ul li:hover {
    cursor: crosshair;
}

.navbar-option {
    color: black;
}

nav #github a {
    text-decoration: none;
    color: black;
}

#horizontal {
    position: absolute;
}

#horizontal #horizontal-line {
    margin: 0;
    padding: 0;
    position: absolute;
    transition: transform 0.3s ease-in;

}

#diagonal {
    position: absolute;
}

#diagonal #diagonal-line {
    position: absolute;
    left: 70vmax;
    transition: transform 0.3s ease-in;
    height: 100vh;
}

@media screen and (max-width: 1455px) {
    main p {
        margin-right: 2vmax;
    }
}

@media screen and (max-width: 1400px) {
    main p {
        margin-right: 4vmax;
    }
}

@media screen and (max-width: 1365px) {
    main p {
        margin-right: 6vmax;
    }
}

@media screen and (max-width: 1255px) {
    #diagonal #diagonal-line {
        transform: rotate(-1deg);
    }
}

@media screen and (max-width: 1245px) {
    #diagonal #diagonal-line {
        transform: rotate(-2deg);
    }
}

@media screen and (max-width: 1235px) {
    #diagonal #diagonal-line {
        transform: rotate(-3deg);
    }
}

@media screen and (max-width: 1225px) {
    #diagonal #diagonal-line {
        transform: rotate(-4deg);
    }
}

@media screen and (max-width: 1215px) {
    #diagonal #diagonal-line {
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 1205px) {
    #diagonal #diagonal-line {
        transform: rotate(-6deg);
    }
}

@media screen and (max-width: 1195px) {
    #diagonal #diagonal-line {
        transform: rotate(-7deg);
    }
}

@media screen and (max-width: 1185px) {
    #diagonal #diagonal-line {
        transform: rotate(-8deg);
    }
}

@media screen and (max-width: 1175px) {
    #diagonal #diagonal-line {
        transform: rotate(-9deg);
    }
}

@media screen and (max-width: 1165px) {
    #diagonal #diagonal-line {
        transform: rotate(-9.65deg);
    }

    nav ul {
        font-size: 2.5vmax;
    }
}

@media screen and (max-width: 800px) {

    #picture {
        max-width: 50vmin;
    }

    main {
        display: block;
        margin: 0 0 0 2rem;

    }

    main h1 {
        margin: 0;
        font-size: 10vmin;
    }

    main p {
        font-size: 3vmin;

    }

    nav ul {
        font-size: 2.5vmax;
    }

    #horizontal {
        display: none;
    }

    #diagonal {
        display: none;
    }
}

@media screen and (max-width: 800px) and (max-height: 700px) {
    #picture {
        opacity: 20%;
    }
}